body {
    text-align: center;
}

#container {
    display: grid;
    grid-gap: 1em;
    grid-template-rows: .25fr .25fr .25fr;
    grid-template-columns: auto;
    grid-template-areas: 
        'top top top'
        'left middle right';
}

#display {
    grid-area: top
}

#inputNum {
    grid-area: middle
}

#plus {
    grid-area: left

}

#minus {
    grid-area: right
}

